global
	log 127.0.0.1 local0 notice
	maxconn 2000
	user haproxy
	group haproxy
	
defaults
	log global
	mode http
	option httplog
	option dontlognull
	retries 3
	option redispatch
	timeout connect 1000
	timeout client 10000
	timeout server 10000
	
frontend http-in
bind XX.XX.XX.XX:80
default_backend current-master

backend current-master
	balance roundrobin
	server SERVERNAME XX.XX.XX.XX:80 check
	server SERVERNAME XX.XX.XX.XX:80 check inter 5s backup
	
listen admin
	bind *:80
	stats enable
